.nav {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav img {
  height: 100%;
  width: 150px;
}

.contenedor1 {
  padding: 0px 200px;
  display: flex;
  justify-content: space-between;
}
.contenedor1 a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0px 25px;
}
.contenedor1 a:hover {
  color: #FF3131;
  font-size: 1.21rem;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .nav {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .nav img {
    height: 80%;
    width: 100px;
  }
  .contenedor1 {
    padding: 0px 50px;
    display: flex;
    flex-flow: column wrap;
  }
  .contenedor1 a:hover {
    color: none;
  }
}
@media (max-width: 1065px) {
  .contenedor1 {
    padding: 0px 50px;
  }
}
#header {
  background-image: url("../../img/4.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 150px;
}
#header p,
#header h1 {
  color: white;
  padding: 20px;
}

#header .contenedor2 {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 50px;
  width: 60%;
}

@media (max-width: 800px) {
  #header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  #header h1, #header p {
    color: white;
  }
  #header .contenedor2 {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 20px;
    width: 60%;
  }
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px;
  gap: 50px;
}
.section p {
  line-height: 35px;
}

@media (max-width: 768px) {
  .section {
    margin: 30px;
    gap: 25px;
  }
  .section p {
    line-height: 25px;
  }
}
.main {
  display: flex;
  flex-flow: row wrap;
  gap: 150px;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.main form input {
  width: 500px;
}

#main {
  border: 1px solid black;
}
#main h2 {
  text-align: center;
  padding: 50px;
}

@media (max-width: 800px) {
  .main {
    flex-flow: column wrap;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }
  .main form input {
    width: 300px;
  }
}
.footer {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer p {
  color: white;
  font-size: 25px;
}

.redes {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
.redes a {
  border: 1px solid white;
  padding: 1rem;
  border-radius: 50%;
  color: white;
}
.redes a:hover {
  background-color: #FF3131;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

.nav {
  grid-area: nav;
}

#header {
  grid-area: header;
}

.section {
  grid-area: section;
}

#main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

body {
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 7% 40% auto auto 15%;
  grid-template-areas: "nav nav" "header header" "section section" "main main" "footer footer";
}/*# sourceMappingURL=style.css.map */